﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Chart</title>
    <script src="Chart.js"></script>
</head>
<body>
    <div>
        Chart
    </div>
</body>
</html>
